body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #010f3a;
    color: #aceae5;
    padding: 20px;
}

.container {
    background: rgba(7, 57, 101, 0.9);
    padding: 20px;
    border-radius: 15px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 5px 15px rgba(39, 8, 142, 0.7);
}

canvas {
    max-width: 400px;
    margin: auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(9, 3, 47, 0.8);
}

p {
    font-size: 18px;
    font-weight: bold;
}

footer {
    background-color: #020116;
    color: #2b9198;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    margin-top: 20px;
    border-top: 2px solid #0e1464;
}